<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<form method="post" action=".">
    {% csrf_token %}
    <noscript>This form requires Javascript to use.</noscript>
    <p id="id_stripe-token-widget">
        <div id="stripe-create-token-form" {% if form.last4.value %}style="display: none;"{% endif %}>
            {{ form.as_p }}
        </div>
        <div id="stripe-change-card" {% if not form.last4.value %}style="display: none;"{% endif %}>
            <p>Using card ending with {{ form.last4.value }} (<a href="#">change</a>)</p>
        </div>
        {% include "django_stripe/stripe_token_widget.html" %}
    </p>
    <p>
        <input type="submit" value="Save">
    </p>
</form>